# Logs
logs
*.log
npm-debug.log*
node_modules
dist
servidor/.env
dist-ssr
dev-dist
*.local
*firebase-adminsdk*.json
.firebase/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

servidor/proyectodawe-f46f5-firebase-adminsdk-fbsvc-85c0fb6375.json
